@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
}

*:focus {
  box-shadow: none;
  border: none;
  outline: none;
}

body, html {
  height: 100%;
  width: 100%;
}

body, p {
  direction: ltr;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #c5c5c5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #48c4b9;
}

h1, h2, h3, h4, h5, h6, p, figur, a {
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  color: #1a1819;
  font-weight: normal;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
}

a:hover,
a:focus,
input:focus,
button:focus,
a:active {
  text-decoration: none;
  outline: none;
  outline-offset: 0px;
  box-shadow: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 60px;
  line-height: 1.4;
}

h2 {
  font-size: 40px;
  line-height: 1.4;
}

h3 {
  font-size: 36px;
  line-height: 1.4;
}

h4 {
  font-size: 24px;
  line-height: 1.4;
}

h5 {
  font-size: 20px;
  line-height: 1.4;
}

h6 {
  font-size: 18px;
  line-height: 1.4;
}

.pos-relative {
  position: relative;
}

.primary-color {
  color: #48c4b9;
}

a,
.transition-3s {
  transition: all 0.3s ease;
}

.transition-5s {
  transition: all 0.5s ease;
}

.prediciton-btn {
  display: inline-block;
  font-size: 17px;
  line-height: 16px;
  font-weight: 600;
  text-align: center;
  min-width: 160px;
  border: 1px solid transparent;
  box-shadow: none;
  cursor: pointer;
  padding: 19px 25px;
  border-radius: 50px;
  transition: all 0.3s ease;
  text-decoration: none;
  background-color: #48c4b9;
  color: #fff;
  position: relative;
  text-transform: capitalize;
}
.prediciton-btn:hover {
  background-color: #5bcac0;
  color: #fff;
}
.prediciton-btn.outline {
  color: #48c4b9;
  background-color: transparent;
  border-color: #48c4b9;
}
.prediciton-btn.outline:hover {
  background-color: #48c4b9;
  color: #fff;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.hints {
  font-size: 14px;
  line-height: 1.3;
  display: block;
  margin-top: 8px;
  color: #1a1819;
  font-weight: 500;
}

select,
textarea,
input[type=file],
input[type=search],
input[type=date],
input[type=time],
input[type=tel],
input[type=number],
input[type=password],
input[type=email],
input[type=text] {
  height: 48px;
  width: 100%;
  padding: 8px 15px;
  font-size: 16px;
  color: #989898;
  font-weight: 400;
  line-height: 16px;
  border: 1px solid #dddddd !important;
  box-shadow: none;
  background: transparent;
  border-radius: 10px;
}

.form-group {
  position: relative;
}
.form-group .label,
.form-group label {
  font-size: 16px;
  font-weight: 600;
  display: block;
  margin-bottom: 0.5rem;
  color: #1a1819;
}
.form-group.with-icon select,
.form-group.with-icon textarea,
.form-group.with-icon input[type=file],
.form-group.with-icon input[type=search],
.form-group.with-icon input[type=date],
.form-group.with-icon input[type=time],
.form-group.with-icon input[type=tel],
.form-group.with-icon input[type=number],
.form-group.with-icon input[type=password],
.form-group.with-icon input[type=email],
.form-group.with-icon input[type=text] {
  padding-right: 43px;
}
.form-group.with-icon i,
.form-group.with-icon img {
  position: absolute;
  right: 13px;
  top: 13px;
}

.file-upload input[type=file] {
  display: none;
}
.file-upload label {
  border-radius: 18px;
  background-color: #fafafa;
  border: 2px dashed #d0d4da;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 284px;
  cursor: pointer;
  text-align: center;
}
.file-upload label p {
  font-size: 14px;
  color: #484848;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  max-width: 350px;
  width: 100%;
  margin: 18px 0;
}

input[type=file] {
  padding-top: 12px;
}

textarea {
  min-height: 120px;
  padding-top: 15px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.selectbox {
  position: relative;
}
.selectbox:after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  right: 0;
  top: 0;
  width: 47px;
  height: 47px;
  border-radius: 10px;
  background-color: #48c4b9;
  font-size: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.selectbox select {
  -webkit-appearance: none;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.selectbox.no-bg:after {
  background-color: transparent;
  color: #333;
  font-size: 17px;
}

.row.large-gutters {
  margin-right: -30px;
  margin-left: -30px;
}

.row.large-gutters > [class^=col-],
.row.large-gutters > [class*=" col-"] {
  padding-right: 30px;
  padding-left: 30px;
}

.row.sml-gutters {
  margin-right: -9px;
  margin-left: -9px;
}

.row.sml-gutters > [class^=col-],
.row.sml-gutters > [class*=" col-"] {
  padding-right: 9px;
  padding-left: 9px;
}

.section-title {
  max-width: 570px;
  margin: 0 auto 50px;
  text-align: center;
}
.section-title h3 {
  font-weight: 700;
  margin-top: 10px;
}
.section-title p {
  margin-top: 10px;
}

.checkbox-style {
  display: block;
  margin: 0;
  line-height: 1.3;
}
.checkbox-style input[type=checkbox] {
  display: none;
}
.checkbox-style label {
  margin-bottom: 0;
}
.checkbox-style .check-box {
  padding-left: 38px;
  color: #34465D;
  display: inline-block;
  cursor: pointer;
  font-weight: 500;
  font-size: 17px;
  position: relative;
}
.checkbox-style .check-box:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  width: 24px;
  height: 24px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #ddd;
}
.checkbox-style .check-box:after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  left: 6px;
  top: 4px;
  color: #5bcac0;
  font-size: 14px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.checkbox-style input[type=checkbox]:checked + .check-box::after {
  opacity: 1;
  visibility: visible;
}

.radio-style {
  display: block;
  margin: 0;
  line-height: 1.3;
}
.radio-style input[type=radio] {
  display: none;
}
.radio-style label {
  margin-bottom: 0;
}
.radio-style .check-box {
  padding-left: 38px;
  color: #34465D;
  display: inline-block;
  cursor: pointer;
  font-weight: 500;
  font-size: 17px;
  position: relative;
}
.radio-style .check-box:before {
  content: "";
  position: absolute;
  left: 0;
  top: -1px;
  width: 24px;
  height: 24px;
  background: #fff;
  border-radius: 100%;
  border: 2px solid #ddd;
  transition: all 0.3s ease;
}
.radio-style .check-box:after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  left: 6px;
  top: 4px;
  color: #48c4b9;
  font-size: 13px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.radio-style input[type=radio]:checked + .check-box::after {
  opacity: 1;
  visibility: visible;
}
.radio-style input[type=radio]:checked + .check-box::before {
  border-color: #48c4b9;
}

@media only screen and (max-width: 767px) {
  .prediciton-btn {
    font-size: 14px;
    min-width: 140px;
    padding: 14px 18px;
  }
}
/*----------icon puls hover---------*/
@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@media (max-width: 575px) {
  .section-title h3 {
    font-size: 20px;
  }
}
.admin-body {
  background: #FFFFFF;
  padding: 20px;
}

.admin-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}
.admin-wrapper .admin-sidebar {
  width: 300px;
  background: #48c4b9;
  height: calc(100vh - 40px);
  position: sticky;
  top: 0;
  border-radius: 20px;
  padding-bottom: 4%;
  overflow: auto;
}
.admin-wrapper .admin-sidebar .logo {
  padding: 23px 10px 33px;
}
.admin-wrapper .admin-sidebar .logo img {
  max-width: 134px;
  margin: 0 auto;
}
.admin-wrapper .admin-sidebar .admin-menu {
  height: 100%;
  display: flex;
  flex-flow: column;
}
.admin-wrapper .admin-sidebar .admin-menu li:last-child {
  margin-top: auto;
}
.admin-wrapper .admin-sidebar .admin-menu li a {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  color: #ffffffb0;
  padding: 16px 32px;
  display: flex;
  align-items: center;
  border-radius: 0 10px 10px 0;
  text-transform: capitalize;
  position: relative;
}
.admin-wrapper .admin-sidebar .admin-menu li a:hover {
  color: #ffffff;
}
.admin-wrapper .admin-sidebar .admin-menu li a svg {
  margin-right: 12px;
}
.admin-wrapper .admin-sidebar .admin-menu li a i {
  margin-right: 10px;
}
.admin-wrapper .admin-sidebar .admin-menu li.active a {
  background-color: #5bcac0;
  color: #ffffff;
  border-radius: 50px;
}
.admin-wrapper .admin-sidebar .admin-menu li.active a rect,
.admin-wrapper .admin-sidebar .admin-menu li.active a path {
  fill: #4064AC;
}
.admin-wrapper .admin-main-content {
  width: calc(100% - 300px);
  padding: 20px 20px 20px 40px;
}
.admin-wrapper .admin-main-content .page-title {
  line-height: 1.3;
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #1a1819;
  font-weight: 500;
}
.admin-wrapper .admin-main-content .page-title i {
  color: #48c4b9;
  margin-right: 2px;
}
.admin-wrapper .admin-main-content .page-title.d-flex {
  align-items: center;
  justify-content: space-between;
}
.admin-wrapper .admin-main-content .page-title.d-flex .prediciton-btn {
  border-radius: 50px;
  filter: drop-shadow(0px 3px 6.5px rgba(26, 24, 25, 0.2));
  background-image: linear-gradient(259deg, #1a1819 0%, #666465 100%);
  padding: 16px 25px;
}
.admin-wrapper .admin-main-content .page-title.d-flex .prediciton-btn img {
  margin-right: 3px;
}
.admin-wrapper .admin-main-content .page-title.d-flex .prediciton-btn.primary-bg {
  background-image: none;
  background-color: #48c4b9;
}
.admin-wrapper .admin-main-content .main-title {
  font-size: 18px;
  line-height: 1.2;
  color: #000000;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.admin-wrapper .admin-main-content .filter-title {
  font-size: 15px;
  line-height: 19px;
  color: #48c4b9;
  font-weight: 500;
  font-family: "Poppins";
  margin: 16px 0 10px;
  display: block;
}
.admin-wrapper .admin-main-content .filter-wrapper {
  display: flex;
  flex-flow: row wrap;
}
.admin-wrapper .admin-main-content .filter-wrapper li {
  margin-right: 15px;
  margin-bottom: 20px;
}
.admin-wrapper .admin-main-content .filter-wrapper li:last-child {
  margin-right: 0;
}
.admin-wrapper .admin-main-content .filter-wrapper li input[type=checkbox] {
  display: none;
}
.admin-wrapper .admin-main-content .filter-wrapper li label {
  border-radius: 10px;
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  padding: 8px 12px;
  cursor: pointer;
  width: 148px;
  height: 100%;
}
.admin-wrapper .admin-main-content .filter-wrapper li .title {
  font-size: 14px;
  line-height: 1.3;
  color: #bebebe;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  display: block;
  text-transform: capitalize;
  margin-top: 7px;
  text-align: right;
}
.admin-wrapper .admin-main-content .filter-wrapper li .title .selectbox:after {
  width: 30px;
  height: 30px;
  border-radius: 0 6px 6px 0;
  font-size: 15px;
  z-index: 1;
  right: 1px;
  top: 1px;
}
.admin-wrapper .admin-main-content .filter-wrapper li .title .selectbox select {
  height: 32px;
  border-radius: 6px;
  padding: 8px 8px;
  font-size: 13px;
}
.admin-wrapper .admin-main-content .filter-wrapper li.active label {
  background: #48c4b9;
}
.admin-wrapper .admin-main-content .filter-wrapper li.active label .title {
  color: #fff;
}
.admin-wrapper .admin-main-content .filter-wrapper li.active label svg .a {
  fill: #fff;
}
.admin-wrapper .admin-main-content .filter-wrapper li.active select {
  color: white;
}
.admin-wrapper .admin-main-content .filter-wrapper li.active select option {
  color: black;
}
.admin-wrapper .admin-main-content .chart-wrapper {
  margin-top: 20px;
  display: flex;
}
.admin-wrapper .admin-main-content .chart-wrapper .user-chart {
  border-radius: 15px;
  filter: drop-shadow(0px 3px 12.5px rgba(0, 0, 0, 0.04));
  background-color: #ffffff;
  padding: 30px;
  width: 570px;
}
.admin-wrapper .admin-main-content .chart-wrapper .user-chart .title {
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  font-weight: 600;
  font-family: "Poppins";
}
.admin-wrapper .admin-main-content .chart-wrapper .doughnut-chart {
  border-radius: 15px;
  filter: drop-shadow(0px 3px 12.5px rgba(0, 0, 0, 0.04));
  background-color: #ffffff;
  padding: 30px;
  width: 410px;
  margin-left: 30px;
}
.admin-wrapper .admin-main-content .chart-wrapper .doughnut-chart .selectbox {
  position: relative;
  width: 178px;
  margin-left: auto;
  margin-bottom: 10px;
}
.admin-wrapper .admin-main-content .chart-wrapper .doughnut-chart .chart-progress {
  position: relative;
  margin-top: 40px;
  text-align: center;
}
.admin-wrapper .admin-main-content .chart-wrapper .doughnut-chart .barOverflow {
  position: relative;
  overflow: hidden;
  width: 230px;
  height: 114px;
  margin-bottom: -14px;
  margin-left: auto;
  margin-right: auto;
}
.admin-wrapper .admin-main-content .chart-wrapper .doughnut-chart .bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 33px solid #eee;
  border-bottom-color: #48c4b9;
  border-right-color: #48c4b9;
  transform: rotate(54deg);
}
.admin-wrapper .admin-main-content .chart-wrapper .doughnut-chart .bar-text {
  font-weight: 600;
  font-size: 18px;
  width: 100px;
  line-height: 1;
  margin: -48px auto 0;
  color: #48c4b9;
}
.admin-wrapper .admin-main-content .chart-wrapper .doughnut-chart .bar-text small {
  color: #a3a3a3;
}

.privacy-policy-wrapper .single-policy {
  margin-bottom: 30px;
  max-width: 1203px;
  width: 100%;
}
.privacy-policy-wrapper .single-policy .policy-title {
  font-size: 17px;
  color: #1a1819;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 5px;
}
.privacy-policy-wrapper .btn-area {
  text-align: right;
}

.notification-wrapper .btn-area {
  margin-top: auto;
  text-align: right;
}

.ads-banner-wrapper .number-counter-wrapper {
  display: inline-flex;
  align-items: center;
  background: #fafafa;
  border-radius: 10px;
}
.ads-banner-wrapper .number-counter-wrapper span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  font-size: 28px;
  line-height: 0.5;
  text-align: center;
  height: 48px;
  border-radius: 13px;
  cursor: pointer;
  background: #48c4b9;
  color: #fff;
  font-weight: 600;
}
.ads-banner-wrapper .number-counter-wrapper input[name=quantity] {
  width: 130px;
  border: none !important;
  background: transparent;
  padding: 0 10px;
  font-size: 17px;
  font-weight: 700;
  color: #292626;
  text-align: center;
}
.ads-banner-wrapper .date-group {
  display: flex;
  flex-flow: row wrap;
}
.ads-banner-wrapper .date-group > label {
  width: 100%;
}
.ads-banner-wrapper .date-group .from, .ads-banner-wrapper .date-group .to {
  width: 50%;
  position: relative;
}
.ads-banner-wrapper .date-group .from > span, .ads-banner-wrapper .date-group .to > span {
  border-radius: 10px;
  background-color: #1a1819;
  width: 50px;
  color: #fff;
  display: flex;
  position: absolute;
  bottom: 0;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.ads-banner-wrapper .date-group .from input[type=date], .ads-banner-wrapper .date-group .to input[type=date] {
  padding-left: 67px;
}
.ads-banner-wrapper .date-group .from {
  padding-right: 14px;
}
.ads-banner-wrapper .date-group .number-counter-wrapper {
  margin-top: 14px;
}
.ads-banner-wrapper .btn-area {
  margin-top: auto;
  text-align: right;
}

.league-wrapper {
  margin-top: 60px;
  display: flex;
  flex-flow: row wrap;
  margin-left: -30px;
}
.league-wrapper .single-league {
  border-radius: 13px;
  filter: drop-shadow(0px 1px 4.5px rgba(0, 0, 0, 0.08));
  background-color: #ffffff;
  padding: 24px 24px 0;
  text-align: center;
  width: calc(100% / 5 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}
.league-wrapper .single-league .icon {
  background: #f1f7f7;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.league-wrapper .single-league .title {
  font-size: 14px;
  color: #404040;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.league-wrapper .single-league .stat {
  border-radius: 16px 16px 0 0;
  background-color: #f4f4f4;
  font-size: 13px;
  color: #535353;
  font-weight: 600;
  font-style: italic;
  padding: 9px 15px;
  margin-top: 20px;
}
.league-wrapper .single-league .stat .season {
  margin-right: 10px;
}

.league-name-wrapper {
  margin-top: 80px;
  display: flex;
  flex-flow: row wrap;
  margin-left: -30px;
}
.league-name-wrapper .single-league {
  border-radius: 20px;
  background-color: #fafafa;
  border: 1px solid #e7e7e7;
  padding: 20px 15px;
  position: relative;
  display: flex;
  align-items: flex-start;
  width: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-bottom: 60px;
}
.league-name-wrapper .single-league .tag {
  font-size: 16px;
  color: #ffffff;
  background: #48c4b9;
  position: absolute;
  top: -35px;
  left: 0;
  padding: 6px 27px 13px;
  border-radius: 10px 10px 0 0;
  z-index: -1;
}
.league-name-wrapper .single-league .league-progress {
  display: block;
  height: 100px;
  width: 28px;
  background: #ffffff;
  min-height: 1px;
  border-radius: 6px;
  border: 2px solid #48c4b9;
  padding: 5px;
  margin-right: 15px;
}
.league-name-wrapper .single-league .league-progress .progress-state {
  background: #48c4b9;
  height: 50%;
  width: 100%;
  display: block;
  border-radius: 4px;
}
.league-name-wrapper .single-league .name {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.league-name-wrapper .single-league .name p {
  line-height: 1;
  text-transform: uppercase;
  padding-left: 9px;
  color: #404040;
  font-weight: 600;
  font-size: 14px;
}
.league-name-wrapper .single-league .name p small {
  color: #48c4b9;
  font-weight: 500;
}
.league-name-wrapper .single-league .joined {
  background: #fff;
  display: inline-block;
  padding: 10px 20px 10px 46px;
  margin-top: 15px;
  position: relative;
  border-radius: 12px;
}
.league-name-wrapper .single-league .joined img {
  position: absolute;
  left: 15px;
  top: 20px;
}
.league-name-wrapper .single-league .joined .join-num {
  color: #1a1819;
  font-weight: 500;
  line-height: 1;
  display: block;
  text-align: center;
}

.general-settings .settings-wrapper {
  padding-top: 50px;
}
.general-settings .checkbox-style {
  position: relative;
  top: 1px;
}
.general-settings .checkbox-style .check-box {
  width: 24px;
  height: 24px;
}
.general-settings .single-settings {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.general-settings .single-settings .settings-title {
  padding-right: 30px;
  color: #333;
  width: 280px;
    line-height: 1.3;
}
.general-settings .single-settings table {
  margin-bottom: 0;
  margin-top: 80px;
  max-width: 500px;
}
.general-settings .single-settings table td {
  color: #333;
    line-height: 1.3;
}

@media (max-width: 1499px) {
  .league-wrapper .single-league {
    width: calc(100% / 4 - 30px);
    padding: 24px 15px 0;
  }

  .league-name-wrapper .single-league {
    width: calc(100% / 3 - 30px);
  }
}
@media (max-width: 1199px) {
  .admin-wrapper .admin-sidebar {
    width: 250px;
  }

  .admin-wrapper .admin-main-content {
    width: calc(100% - 250px);
  }

  .admin-wrapper .admin-main-content .filter-wrapper li {
    width: 150px;
  }

  .admin-wrapper .admin-main-content .chart-wrapper {
    display: block;
  }

  .admin-wrapper .admin-main-content .chart-wrapper .user-chart {
    width: 100%;
  }

  .admin-wrapper .admin-main-content .chart-wrapper .doughnut-chart {
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
  }

  .league-wrapper {
    margin-top: 40px;
  }

  .league-wrapper .single-league {
    width: calc(100% / 3 - 30px);
  }

  .league-name-wrapper .single-league {
    width: calc(100% / 2 - 30px);
  }
}

@media (max-width: 991px) {
    .admin-wrapper .admin-sidebar {
        position: fixed;
        left: -250px;
        top: 0;
        border-radius: 0;
        height: 100%;
        z-index: 99;
        overflow: visible;
        transition: all 0.3s ease;
    }
    .admin-wrapper .admin-sidebar .admin-menu {
        width: 100%;
        height: 100%;
        overflow: auto;
    }
    .admin-wrapper .admin-sidebar .hamburger {
        width: 45px;
        height: 45px;
        background: #48c4b9;
        position: absolute;
        left: 100%;
        top: 17px;
        z-index: 1;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
    }
    .admin-wrapper .admin-sidebar .hamburger > span {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 58%;
        height: 20px;
        transform: translate(-50%, -50%);
        transform-origin: center;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
    }
    .admin-wrapper .admin-sidebar.show-menu {
        left: 0;
    }
    .admin-wrapper .admin-sidebar.show-menu .hamburger > span {
        border-top-color: transparent;
        border-bottom: transparent;
    }
    
    .admin-wrapper .admin-sidebar .hamburger > span:before, 
    .admin-wrapper .admin-sidebar .hamburger > span:after {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 2px;
        background: #fff;
        margin-top: -1px;
    }
    
    .admin-wrapper .admin-sidebar.show-menu .hamburger > span:before{
        transform: rotate(45deg);
    }
    .admin-wrapper .admin-sidebar.show-menu .hamburger > span:after{
        transform: rotate(-222deg);
    }
    
    
  .league-wrapper .single-league {
    width: calc(100% / 2 - 30px);
  }

  .league-name-wrapper .single-league {
    width: calc(100% / 1 - 30px);
  }
    
    .admin-wrapper .admin-main-content {
        width: 100%;
        padding: 0;
    }

}

/*# sourceMappingURL=style.css.map */


.select2-container {
    width: 100%!important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default .select2-selection--multiple {
    border: 1px solid #dddddd;
}

.select2-container--default .select2-selection--multiple {
    min-height: 48px;
    border-radius: 10px;
}

.select2-container--default .select2-search--inline .select2-search__field {
    border: none!important;
    min-height: auto;
    border-radius: 0;
}

.select2-selection li.select2-selection__choice {
    color: #333;
    font-size: 13px;
}

.select2-results .select2-results__option {
    color: #333;
}


.select2-search--dropdown .select2-search__field {
    height: 36px;
    border-radius: 5px;
}
.select2-container .select2-selection--single {
    height: 32px;
    background: transparent!important;
    text-align: left;
    border: 1px solid #dddddd;
    border-radius: 6px;
    font-size: 13px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #bebebe;
}

.active .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #fff;
}

.select2-results__option {
    font-size: 13px;
}

.active .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #fff transparent transparent transparent;
}


.admin-main-content .card .card-img-top {
    height: 240px;
    object-fit: contain;
}


